
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin:0;
    padding:0;

}

.pop{
    font-size : 0.05em;
    padding :0;
    right: 515px;
    height: 698px;
}

.buttons {
    width: 60px;
    height : 30px;
    padding: 4px 8px;
    border: 0.1px solid black;
    border-radius: 25px;
    background-color : white;
    cursor: pointer;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #0099ff;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    z-index: 999; /* 다른 요소 위에 나타나도록 설정 */
}

.popup-content {
    background-color: white;
    width: 50px;
    height : 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0099ff(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
