

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popup h1 {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.pop button {
    left:690px; 
}

.pop{
position:absolute;
top: 4.5em;
transform : translateY(-95%);
transform : translateX(-750%);
}

.pop button{
background-color: white;
border: none; 
color:black;
font-size: 1em;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup {
display : none;
position:fixed;
top:0;
left:0;
width:50px;
height: 30px;
background-color: black;
z-index: 999;  
}

.popup{
    background-color: white;
    width:375px;
    height:704px;
    padding:20px;
    box-shadow:0 4px 8px black;
    border-radius:16px;
}

.link-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.link-list p {
    color: #0093ff;
    text-decoration: none;
}

.link-list a:hover {
    text-decoration:red;
}


